*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial,sans-serif;
}
.header{
    background: #333;
    color:white;
    text-align: center;
    padding: 20px;
}
.navbar{
    display: flex;
    justify-content: center;
    gap:20px;
    background: 15px;;
}
.navbar a{
    color: white;
    text-decoration: none;;
}
.container{
    display: flex;
    padding: 20px;
    gap:20px;
}
.sidebar{
    flex: 1;
    background: #f4f4f4;
    padding: 15px;
}
.grid-section{
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card{
    background: #ddd;
    padding: 40px;
    text-align: center;
}
.footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .grid-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .grid-section{
        grid-template-columns: 1fr;
    }
}
